.ImageSection{
    display: flex;
    margin-top:4rem ;
    margin-bottom:4rem ;
    .img{
      width: 100%;
       height: 50vh;
        img{
          width: 100%;
          object-fit: cover;
          height:100%;
        }
       
    }
    .about_info{
     margin-left: 2rem;  
     width: 100%;
     h4{
        font-size:2rem ;
     } 
    
     .about_button{
        .btn{
            padding: 1rem 2rem;
            background-color: #944E6C;
            border: 1px solid #a36d84;
            outline: none;
         
            color: #FFECEF;
            text-transform: uppercase;
            cursor: pointer;
            letter-spacing: 2px;
            margin-top: 1rem;
            position: relative;
         
            &::after{
                position: absolute;
                content: '';
                width: 0;
                height: .3rem;
                left: 0;
                bottom: 0;
                transition: all .5s ease-in-out; 
                background-color:  #ffcaca;
              
            }
            &:hover::after{
                width: 100%;
            }
        }
     }
    }
    @media screen  and (max-width:1400px){
        flex-direction: column;
        margin-left: 0;
        margin-top: 1rem;
         }
    
}
.skillsContainer{
    display: grid;
   grid-template-columns: repeat(2,1fr);
  column-gap:4rem ;
  row-gap: 3rem;
  margin:4rem 0 ;
  @media screen  and (max-width:1100px){
           grid-template-columns: repeat(1 , 1fr);
}
}
.btn-portfolio{
    padding: .6rem 2rem;
    background-color:  #9f77c033;
    border: none;
    outline: none;
    cursor: pointer;
    color:#fff8f9;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
    &:not(:last-child){
        margin-right: 1rem;
    }
    &:hover{
        background-color: #944E6C;
    }
    &:focus {
        background-color: #944E6C;
    }
  
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 4rem 10rem;
   flex-wrap: wrap;
   @media screen  and (max-width:1270px){
    margin: 2rem 5rem;
}
   @media screen  and (max-width:1100px){
    margin: 2rem 2rem;
}
}
