.BlogsPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  .blog {
    background-color: #9f77c033;
    width: 100%;
    .blog-content {
      padding: 1rem;

      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.4s ease-in-out;
        height: 250px;
        object-fit: cover;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
