.ContactItem{
    width: 100%;
  &:not(:last-child){
    margin-bottom: 1rem;
  }
  .contact{
   display: flex;
   align-items: center;
   padding: 3rem 0;
    background-color: #9f77c033;
    .right-item{
        margin-left: 2rem;
    }
    img{
     padding: 1rem;   
     border: 1px solid #d5aff333;
     margin-left:2rem ;
     width: 16%;
    }
     .right-item{
        h5{
             font-size: 1.4rem;
             font-weight: 500;
        }
    }
  }
}

.ContactPage{
    display:grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-bottom: 6rem;
    .contact-sect{
        width: 100%;  
    }
}
.map-sect{
   width: 97%; 
   padding: 1rem;
   background-color: #9f77c033;
   iframe{
    width: 100%;
    height: 100%;
   }
}
.contact-sect{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    margin-bottom: 5rem;
}
