.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: #372948;
        position: fixed;
        border-right: 1px solid #2a1f3d;
      
    }
    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #251B37;
        min-height: 100vh;
         background-image: url(../images/4.png);
       background-position: bottom;
         background-repeat: no-repeat;
         display: grid;
        position: relative;
        .content{
            margin: 5rem 12rem;
        }
    }
}

