.SkillsSection {
  margin: 4.5rem 0;
}
.skill-container {
  .skill-title {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .skill-bar {
    display: flex;
    align-items: center;
    .skill-text {
    }
    .skill-progress {
      .progress {
        width: 100%;
        height: 0.5rem;
        
        margin-left: 1rem;
       
        background-color: #c9a2b2;
        position: relative;
        .inner-progress{
            position: absolute;
         
            background-color: #944e6c;
            height: 100%;
            bottom: 0;
            left: 0;
        }
       
      }
    }
  }
}
