@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color:#372948 ;
    font-family: 'Rancho', cursive;
    font-size: .2rem;
}
h1{
    color: red;
}