@import './styles/nabvar.scss';
@import "./styles/Layout.scss";
@import './styles/typography';
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color:#FFECEF;
  
    font-size: 1.2rem;
}
