@import './styles/nabvar';
@import "./styles/Layout";
@import './styles/typography';
@import './styles/title';
@import './styles/about';
@import './styles/skill';
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color:#FFECEF;
  
    font-size: 1.2rem;
}
span{
    color:  #ffcaca;
}
